body{
    margin: 0;
    background-color: lightgray;    
}

.grid{
    display: grid;
}

section {
    min-height: 50px;
    border: 3px solid black;
}

.header{
    font-variant: small-caps;
    font-weight: bold;
    background-color: aquamarine;
    grid-row:1;
    grid-column:1/4;
}

.cuadradoL{
    height: 50px;
    width: 50px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    transition: transform 1s linear;
}

.cuadradoR{
    height: 50px;
    width: 50px;
    margin: 5px; 
    border-radius: 15px;   
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
    transition: transform 1s linear;
}

.circulo{
    height: 50px;
    width: 50px;
    margin: 5px;   
    border-radius: 50px;  
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
    transition: transform 1s linear;
}

.input{
    display: none;
}

.input+label{

}

.input:checked+label>div{
    transform: rotate(45deg);
}

#cuadradoL1, #cuadradoR1, #circulo1{
    background-color: rgb(255, 0, 0);
    
}

#cuadradoL2, #cuadradoR2, #circulo2{
    background-color: rgb(200, 0, 55);
}

#cuadradoL3, #cuadradoR3, #circulo3{
    background-color: rgb(150, 0, 105);
}

#cuadradoL4, #cuadradoR4, #circulo4{
    background-color: rgb(100, 0, 155);
}

#cuadradoL5, #cuadradoR5, #circulo5{
    background-color: rgb(0, 0, 255);
}




.s1{
    grid-column:1;
    grid-row: 2;
    background-color: yellowgreen;
    border-color: lightblue;
    border-style: dashed;
}
.s2{
    grid-column:2;
    grid-row: 2;
    background-color: pink;
    border-color: yellowgreen;
    border-style: dotted;
}
.s3{
    grid-column:3;
    grid-row: 2;
    background-color: lightblue;
    border-color: pink;
    border-style:double;
}